
@{
    ViewBag.Title = "404 გვერდი ვერ მოიძებნა!!!";
}

<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> უი! გვერდი ვერ მოიძებნა.</h3>
        <p>
           <a href="javascript:window.history.back()">უკან დაბრუნება</a>
        </p>
    </div>
</div>